<section>
     <button mat-raised-button (click)="openDialog()" class="addvm" color="warn"><mat-icon>add</mat-icon>&nbsp;New Vm</button> 
</section>

<div class="division">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>VM #1</mat-card-title>
    <mat-card-subtitle>Stato: ......</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://cdn.icon-icons.com/icons2/17/PNG/256/virtualboxvirtualboxvirtualmachine_virtualbox_cajavirtua_2235.png" alt="Photo of a VM">
  <mat-card-content>
    <p *ngIf="ownerOfVm">You're owner of this VM</p>
    <ng-template>
      <p #elseBlock>You're owner of this VM</p>
    </ng-template>
  </mat-card-content>
  <mat-card-actions>
    <button mat-mini-fab class="action" color="primary"><mat-icon>play_arrow</mat-icon></button>
    <button mat-mini-fab class="action" color="primary"><mat-icon>stop</mat-icon></button>
    <button mat-mini-fab class="action" color="primary"><mat-icon>delete</mat-icon></button>
    <button mat-mini-fab class="action" color="primary"><mat-icon>info</mat-icon></button>
  </mat-card-actions>
</mat-card>


<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>VM #1</mat-card-title>
    <mat-card-subtitle>Stato: ......</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://cdn.icon-icons.com/icons2/17/PNG/256/virtualboxvirtualboxvirtualmachine_virtualbox_cajavirtua_2235.png" alt="Photo of a VM">
  <mat-card-content>
    <p *ngIf="ownerOfVm">You're owner of this VM</p>
    <ng-template>
      <p #elseBlock>You're owner of this VM</p>
    </ng-template>
  </mat-card-content>
  <mat-card-actions>
    <button mat-mini-fab class="action" color="primary"><mat-icon>play_arrow</mat-icon></button>
    <button mat-mini-fab class="action" color="primary"><mat-icon>stop</mat-icon></button>
    <button mat-mini-fab class="action" color="primary"><mat-icon>delete</mat-icon></button>
    <button mat-mini-fab class="action" color="primary"><mat-icon>info</mat-icon></button>
  </mat-card-actions>
</mat-card>

</div>
