<mat-toolbar class="T1"><mat-icon (click)=toggleForMenuClick()>menu</mat-icon>  
  <a routerLink="/home" routerLinkActive="active">Virtual Labs</a>
  <span class="example-fill-remaining-space"></span>
  
  <div class="example-label">
    <!-- <button class="LogButton" mat-button (click)="openDialog()"> Login </button> -->
    <button *ngIf="!authService.loggedin" class="LogButton" mat-button routerLink="/home" routerLinkActive="active" [queryParams]="{doLogin: true}"> Login</button>
    <button *ngIf="authService.loggedin" class="LogButton" mat-button (click)="logout()"> Logout </button>
  </div>


</mat-toolbar>

<mat-toolbar class="T2">
  <div *ngIf="course_name; else else_home">{{course_name}}</div>
  <ng-template #else_home >Benvenuto nel portale!</ng-template>
  <div *ngIf="authService.isProfessor()">&nbsp;&nbsp; (Professore: {{authService.getStudentId()}})</div>
  <div *ngIf="authService.isStudent()">&nbsp;&nbsp; (Studente: {{authService.getStudentId()}} )</div>
</mat-toolbar>

<mat-sidenav-container>

    <!-- SIDENAV -->
  <mat-sidenav #sidenav mode="side" closed position="start">
    
    <div class="container-small"> 
      <mat-nav-list *ngIf="authService.loggedin">
        
        <ng-container *ngIf="course_list">
          <section *ngIf="authService.isProfessor()">
          <mat-list-item *ngFor="let course of courses" (click)="clicked_course(course.name)" [routerLink]="['/teacher/courses/', course.name,'enrolled']"> 
            <a>
             {{ course.name }} </a>
          </mat-list-item>

        </section>
        <section *ngIf="authService.isStudent()">
          <mat-list-item *ngFor="let course of courses" (click)="clicked_course(course.name)" [routerLink]="['/student/courses/', course.name,'home']"> 
            <a>
             {{ course.name }} </a>
          </mat-list-item>

        </section>
        </ng-container>

      </mat-nav-list>
    </div>
  </mat-sidenav>
  


  <!-- CONTENT -->
  <mat-sidenav-content>

    <!-- @@@@@@@@@@@@@@@@@@@@@@@_____VERSIONE_0______@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
    <!--  <nav mat-tab-nav-bar >
      <a *ngIf="authService.isProfessor() || !authService.loggedin " routerLink="teacher/courses/applicazioni-internet/students"
      mat-tab-link label="Studenti"> 
         
      </a>

      <a routerLink="teacher/courses/applicazioni-internet/groups"
      mat-tab-link label="Gruppi"> 
        Gruppi
      </a>

      <a routerLink="teacher/courses/applicazioni-internet/vms"
      mat-tab-link label="vms"> 
          VMs
      </a>

      <a routerLink="teacher/courses/applicazioni-internet/tasks"
      mat-tab-link label="tasks"> 
          Consegne ed elaborati
      </a>
    </nav> -->
    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

    <!-- @@@@@@@@@@@@@@@@@@@@@@@_____VERSIONE_1______@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
    <!-- <ng-container>
      <nav mat-tab-nav-bar *ngIf="!authService.loggedin">
        <a *ngFor="let tab of prof_tabs" 
          routerLink="/home" mat-tab-link label="home"> 
        {{tab}}       
        </a>
      </nav>
    
      <nav mat-tab-nav-bar *ngIf="authService.isProfessor()">
        <a *ngFor="let tab of prof_tabs" 
          [routerLink]="['/teacher/courses/', course_name , tab]" mat-tab-link label=[tab]> 
        {{tab}}       
        </a>
      </nav>

      <nav mat-tab-nav-bar *ngIf="authService.isStudent()">
        <a *ngFor="let tab of stud_tabs" 
          [routerLink]="['/student/courses/', course_name , tab]" mat-tab-link label=[tab]> 
        {{tab}}       
        </a>
      </nav>
    </ng-container> -->


    
<!-- @@@@@@@@@@@@@@@@@@@@@@@_____VERSIONE_2______@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
    <nav mat-tab-nav-bar >

      <div *ngIf="!tab_type; else else_tabs">

            <a *ngIf="course_name" [routerLink]="['teacher/courses/', course_name ,'enrolled']"
          mat-tab-link label="Studenti"> 
            Studenti
          </a>

          <a *ngIf="course_name" [routerLink]="['teacher/courses/', course_name ,'groups']"
          mat-tab-link label="Gruppi"> 
            Gruppi
          </a>

          <a *ngIf="course_name" [routerLink]="['teacher/courses/', course_name ,'vms']"
          mat-tab-link label="vms"> 
              VMs
          </a>

          <a *ngIf="course_name" [routerLink]="['teacher/courses/', course_name ,'tasks']"
          mat-tab-link label="tasks"> 
              Consegne ed elaborati
          </a>
      </div>

      <ng-template #else_tabs>

          <a *ngIf="course_name" [routerLink]="['student/courses/home']"
          mat-tab-link label="Studenti"> 
            Studente
          </a>

          <a *ngIf="course_name"  [routerLink]="['student/courses/', course_name ,'groups']"
          mat-tab-link label="Gruppi">    <!--(click)="groupClicked(course_name,)"  -->
            Gruppi
          </a>

          <a *ngIf="course_name" [routerLink]="['student/courses/', course_name ,'vms']"
          mat-tab-link label="vms"> 
              VMs
          </a>

          <a *ngIf="course_name" [routerLink]="['student/courses/', course_name ,'tasks']"
          mat-tab-link label="tasks"> 
              Consegne ed elaborati
          </a>

      </ng-template>
    </nav>
   
    <router-outlet> </router-outlet>
    
  </mat-sidenav-content>
 

</mat-sidenav-container>
