<!--<h2>Homepage</h2>
<h3>Benvenuto in Virtual Labs 2020</h3>
-->

<mat-divider [vertical]="true"></mat-divider>
<div id="inner1">
<div class="division">
    <mat-card class="example-card" style="text-align: center;">
        <mat-divider [vertical]="true"></mat-divider>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-card-title>
        Homepage
        </mat-card-title>
        <mat-divider></mat-divider>
        <br>
    <mat-card-subtitle>
    Benvenuto in Virtual Labs 2020
    </mat-card-subtitle>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-card-content>
        Progetto sviluppato da:<br>
        - Matteo<br>
        - Lorenzo<br>
        - Giovanni<br>
        - Martino<br>
    </mat-card-content>
    </mat-card>      
</div> 

</div>
<mat-divider [vertical]="true"></mat-divider>