table {
    width: 100%;
  }

  .mat-column-select {
    overflow: initial;
  }
  


    .addgroupform {
      margin-top: 8px;
      margin-left: 12px;
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    
    .groupform-width {
      width: 100%;
    }

    table {
      background: rgb(255, 255, 255);
      
    } 

    .addButton {
      position: absolute;
      margin-left: 10px;
      margin-top: 16px;
      cursor: pointer;
    }

    .deleteButton {
      margin-bottom: 1%;
      cursor: pointer;
    }
    

    .button-row button{
      margin-top: 8px;
      font-size: 16px;
      margin-left: 12px;     
      }


    mat-form-field {
        margin-right: 14px;
     }

    
    .mat-title{
      color: rgb(79, 79, 94);
  }

  .example-button-row {
    display: table-cell;
  }  

.success{
  background-color: rgb(35, 168, 23);
}

.reject{
  background-color: indianred;
}

.success,.reject{
  color: rgb(253, 247, 247);
  margin-right: 8px;
}


.nomegruppo{
  background-color: rgb(217 211 211 / 66%);
  margin: 1%;
}

.grouptext{
  font-size: x-large;
}

